{% extends 'base.html.twig' %}

{% block content %}

	<!-- Page Header Start -->
	<div class="container-fluid pt-5">
		<div class="container-fluid bg-secondary mb-5">
			<div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 200px">
				<h1 class="font-weight-semi-bold text-uppercase mb-3">Les produits</h1>
			</div>
		</div>
	</div>
	<!-- Page Header End -->

	<div class="container-fluid pt-5">
		<div class="row px-xl-5">
			<!-- Shop Sidebar Start -->
			<div class="col-lg-3 col-md-12">
			
			<h3>Filtrer</h3>
			
			{{ form(form) }}
			</div>
			<!-- Shop Sidebar End -->


			<!-- Shop Product Start -->
			<div class="col-lg-9 col-md-12">
				<div class="row pb-3">


					{% for product in app_produit %}
						<div class="col-lg-4 col-md-6 col-sm-12 pb-1">
							<div class="card product-item border-0 mb-4">
								<div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
									<a href="{{ path('show_produit', { 'slug' : product.slug }) }}">
										<img class="img-fluid w-100" src="/uploads/{{ product.illustration }}" alt="{{ product.name }}">
									</a>
								</div>
								<div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
									<h6 class="text-truncate mb-3">{{ product.name }}</h6>
									<div class="d-flex justify-content-center">
										<h6>{{ (product.prix / 100) | number_format(2, ',','.') }}€</h6>
										<h6 class="text-muted ml-2"></h6>
									</div>
								</div>
								<div class="card-footer d-flex justify-content-between bg-light border">
									<a href="{{ path('show_produit', { 'slug' : product.slug }) }}" class="btn btn-sm text-dark p-0">
										<i class="fas fa-eye text-primary mr-1"></i>Voir détail</a>
									<a href="{{ path('add_panier', { 'slug' : product.slug }) }}" class="btn btn-sm text-dark p-0">
										<i class="fas fa-shopping-cart text-primary mr-1"></i>Ajouter au panier</a>
								</div>
							</div>

						</div>
					{% endfor %}


				</div>
			</div>
		</div>
	</div>


</div>{% endblock %}

